<head>
  <link rel="stylesheet" href="static\css\style.css" />
</head>
<body id="about-body">
  <nav>
    <img src="../static/images/logo.png" alt="Site logo." />
    <h1>Arcade Atlus</h1>
    <ul class="topnav">
      <li><a href="http://127.0.0.1:5000/#">Home</a></li>
      <li><a href="add.html">Log in</a></li>
      <li><a href="signup.html">Sign up</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="games.html">Games</a></li>
    </ul>
  </nav>
  <div id="lol">
    <h1 id="lol">WHO ARE WE?</h1>
    <p id="Who">
      Really the "we" is just an I. I'm a solo developer trying to help casual
      arcade go-ers and arcade addicts (like myself!). explore, learn and play
      arcade games better.
    </p>
  </div>
</body>
