<head>
  <link rel="stylesheet" href="static\css\style.css" />
</head>
<body>
  <nav>
    <img src="../static/images/logo.png" alt="Site logo." />
    <h1>Arcade Atlus</h1>
    <ul class="topnav">
      <li><a href="http://127.0.0.1:5000/#">Home</a></li>
      <li><a href="add.html">Sign in</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="games.html">Games</a></li>
    </ul>
  </nav>
  <h1 id="Game-page-title">Catagories</h1>
  <h1 id="Game-page-title">All games</h1>
  {% block content %}
  <div id="game-rows" class="container">
    {% for row in content %}
    <div class="card">
      <img
        class="card-image"
        src="static/images/{{ row[4] }}"
        alt="Product image for the {{ row[1] }} VSCode extension."
      />
      <h1 id="game-header" class="card-name">{{ row[1] }}</h1>
      <p class="card-about">{{ row[3] }}</p>
      <a class="card-link" href="{{ row[2] }}"
        ><button class="btn">Read More</button></a
      >
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</body>
