<head>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <nav>
    <img src="../static/images/logo.png" alt="Site logo." />
    <h1>Arcade Atlus</h1>
    <ul class="topnav">
      <li><a href="http://127.0.0.1:5000/#">Home</a></li>
      <li><a href="add.html">Sign in</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="games.html">Games</a></li>
    </ul>
  </nav>
  <h1>
    <strong
      ><p>LEARN.</p>
      <p>EXPLORE.</p>
      <p>GAME.</p></strong
    >
  </h1>
  <h3>
    <p>
      Take your arcade experience to the next <br />
      level with tips and tricks. We’ll take you <br />
      through the levels one by one, letting you <br />
      soar to higher and higher heights in your <br />
      arcade journey.
    </p>
  </h3>
  <img id="arcade-games" src="static/images/Arcade-games.jpg" />
  <button id="Sign-in-button">SIGN UP</button>
</body>
