<head>
  <link rel="stylesheet" href="static\css\style.css" />
</head>
<body id="Login-Page">
  <nav>
    <img src="../static/images/logo.png" alt="Site logo." />
    <h1>Arcade Atlus</h1>
    <ul class="topnav">
      <li><a href="http://127.0.0.1:5000/#">Home</a></li>
      <li><a href="add.html">Log in</a></li>
      <li><a href="signup.html">Sign up</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="games.html">Games</a></li>
    </ul>
  </nav>
  <div class="square2">
    <img
      id="Login-logo"
      src="/static/images/transparentlogo.png"
      alt="Site logo."
    />
    <div id="FormattingSucks">
      <h2 id="signup-title">Sign Up</h2>
      <h3 id="Login-Page-Username">Username</h3>
      <input type="text" id="Username" />
      <h3 id="Login-Page-Password">Password</h3>
      <input type="text" id="Password" />
      <h3 id="Login-Page-Email">Email</h3>
      <input type="text" id="Email" />
      <h3 id="Login-Page-About">Set your About</h3>
      <input type="text" id="About" />
      <h3 id="Login-Page-PFP">Profile Picture</h3>
      <input type="file" accept=".jpg, .jpeg, .png, .gif" id="Pfp" />
      <h3 id="Login-Page-Age">Age</h3>
      <input type="number" id="Age" />
    </div>
    <a href="http://127.0.0.1:5000/#"
      ><button id="Join-now">Join Now</button></a
    >
    <p id="Accountnotgot">
      Already have an account? <a href="signup.html"> click here</a> to Log in!
    </p>
  </div>
</body>
